.ccls-cache
.vscode/c_cpp_properties.json
GPATH
GRTAGS
GTAGS
*.asm
*.bcs
*.int
*.lbl
*.map
build/debug/ect-mon.asm
build/debug/ect-mon.bcs
build/debug/ect-mon.int
build/debug/ect-mon.lbl
build/debug/ect-mon.map
